<div class = "landing"><h1>Welcome to</h1>

<img src="budgie_logo.png" alt="Budgie" height=250 width=250>

<h1>Your Personal Budget Tracker</h1>

<h2>Please enter the following:</h2>

<form action="/budget" method="POST">

  <ul><label for ="first_name">First Name:</label>
  <input type="text" id="first_name" name= "first_name"></ul>
  <ul><label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name"></ul>
  <ul><label for="budget">Your budget (£):</label>
  <input type="text" id="budget" name="budget"></ul>
  
  <ul><input class = "button" type="submit" value="Start Tracking"></ul>

</form>
<hr>
</div>