<h1>TRANSACTIONS</h1>

<% @transactions.each do |transaction| %>
<p>Amount: £<%= '%.2f' % transaction.cost %></p>
<p>Merchant: <%= transaction.merchant %></p>
<p>Goods purchased: <%= transaction.tag %></p>
<% end %>

<hr  />
<p>Current total expenditure: £<%= '%.2f' % (@total.to_f) %></p>

<a href="/transaction/new">Add a new transaction</a>
<a href="/">View your budget</a>