<h1>Search transactions by date</h1>

<form action="/transactions/datesearch/results" method="POST">

<label for ="first_date">From:</label>
<input type="date" id="first_date" name= "first_date">

<label for ="second_date">To:</label>
<input type="date" id="second_date" name= "second_date">

<input type="submit" value="Search">

</form>