<h1>TRANSACTIONS</h1>

<% @transactions.each do |transaction| %>
<p>Amount: £<%= '%.2f' % transaction.cost %></p>
<p>Merchant: <%= transaction.merchant %></p>
<p>Goods purchased: <%= transaction.tag %></p>
<% end %>

<a href="/transaction/new">Add a new transaction</a>
<a href="/">View your budget</a>