<% @users.each do |user| %>
<p>Hello, <%= user.full_name %>.</p> 
<p>Your current balance is £<%= '%.2f' % (user.budget -= @total) %>.</p>
<% if user.budget < 0 %>
  <h2>WARNING - YOU ARE OVER BUDGET BY £<%= '%.2f' % user.budget.abs%></h2>
<% end %>
<% end %>
<hr>
