<h1>New Transaction</h1>

<form action="/transactions" method="POST">

  <p><label for ="date_bought">Date:</label>
  <input type="date" id="date_bought" name= "date_bought">
  <p><label for="cost">Amount spent (£):</label></p>
  <input type="text" id="cost" name="cost"></p>
  <p><label for="merchant">Merchant:</label>
  <input type="text" id="merchant" name="merchant"></p>
  <p><label for="tag">Goods purchased:</label>
  <input type="text" id="tag" name="tag"></select></p>
  <hr>
  <p><input class = "button" type="submit" value="Add Transaction"></p>

</form>